{% extends "layout.html" %} {% block content %}
<div
    class="w-full max-w-2xl flex-grow flex flex-col items-center py-12 animate-in slide-in-from-bottom duration-700"
>
    <div class="text-center px-4 mb-8 shrink-0">
        <h1 class="text-4xl font-extrabold text-slate-900 tracking-tight">
            Ephemeral
        </h1>
        <p class="text-slate-500 text-sm mt-1 font-medium italic">
            Ephemeral Message
        </p>
    </div>

    <div
        class="glass w-full max-w-xl p-10 rounded-3xl border border-slate-200 bg-white shadow-2xl space-y-10 mt-12 mb-24"
    >
        <div class="space-y-2.5">
            <h3
                class="text-[10px] font-black text-slate-400 uppercase tracking-widest text-center"
            >
                MESSAGE
            </h3>
            <div
                class="w-full min-h-[140px] flex items-center justify-center text-center bg-slate-50 border border-slate-200 rounded-2xl p-6 shadow-inner transition-all hover:bg-white hover:border-[#007AFF]/20 group"
            >
                {% if msg %}
                <div class="text-sm font-medium text-slate-900 leading-relaxed">
                    {{ msg|safe }}
                </div>
                {% else %}
                <p
                    class="text-[11px] font-bold text-slate-300 uppercase italic"
                >
                    (none)
                </p>
                {% endif %}
            </div>
        </div>

        <div class="h-px w-full bg-slate-100"></div>
        <form method="GET" action="/" class="space-y-6">
            <div class="space-y-2.5">
                <p
                    class="text-[10px] font-black text-slate-400 uppercase tracking-widest ml-1 text-center sm:text-left"
                >
                    CRAFT MESSAGE
                </p>
                <input
                    type="text"
                    name="msg"
                    required
                    class="w-full bg-slate-50 border border-slate-200 rounded-2xl px-5 py-4 text-sm font-medium focus:ring-2 focus:ring-[#007AFF]/20 focus:border-[#007AFF] outline-none transition-all placeholder:text-slate-300 shadow-inner"
                    placeholder="Enter message content..."
                />
            </div>

            <div class="flex flex-col pt-2">
                <button
                    type="submit"
                    class="w-full py-5 bg-[#007AFF] text-white rounded-2xl font-black text-xs uppercase tracking-widest transition-all shadow-xl shadow-black/10 hover:brightness-110 active:scale-95"
                >
                    CRAFT MESSAGE
                </button>
            </div>
        </form>
    </div>

    <footer class="text-center opacity-30 pt-12 pb-8 mt-auto shrink-0">
        <p
            class="text-[9px] font-bold uppercase tracking-[0.4em] text-slate-900 italic"
        >
            pwnpost
        </p>
    </footer>
</div>
{% endblock %}
